@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  #spot-template {
    min-height: 100vh;
  }
}